{% extends "base.html" %}

{% block title %}Group: {{ group.name }}{% endblock %}

{% block content %}
    <h1>Group: {{ group.name }}</h1>
    
    <!-- Gruppen-Details -->
    <h2>Group Details</h2>
    <p><strong>Owner:</strong> {{ owner.username }}</p>

    
    <!-- Mitglieder-Liste -->
    <h2>Members</h2>
    <ul>
        {% for user in group_members %}
            <li>{{ user.username }}</li>
        {% else %}
            <li>No members in this group.</li>
        {% endfor %}
    </ul>
        <h2>Assigned Challenges: </h2>
    {% if challenge %}
      {% for challenge in group.challenges %}
<li>
    <strong>{{ challenge.title }}</strong>
</li>

    <fieldset>
        <legend>Challenge Overlay Link</legend>
        <p>Use the following link to access the challenge overlay:</p>
        <input type="text" readonly value="{{ url_for('overlay', group_id=group.id, _external=True) }}" style="width:100%;">
    </fieldset>
        
      {% endfor %}
    {% else %}
        <p>No challenge assigned to this group.</p>
    {% endif %}
{% endblock %}