{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post" >
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.password.label }} {{ form.password() }}
    
        <output>{{ get_flashed_messages() }}</output>
        <button type="submit">Login</button>
        <button type="button" class="btn" onclick="location.href='{{ url_for('register') }}'">Go To Register</button>
    </form>
{% endblock %}
