{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login') }}">
        <label>Email: <input type="email" name="email" required></label><br><br>
        <label>Passwort: <input type="password" name="password" required></label><br><br>
        <button type="submit">Einloggen</button>
        <button type="button" class="btn" onclick="location.href='{{ url_for('register') }}'">Registrieren</button>
    </form>
{% endblock %}