<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Overlay {{ group_name }} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='overlay.css') }}">
    </head>
<body>
<ul>
    {% for challenge in challenges %}
    <li>
        <label for="{{ challenge.id }}">
            <a href="{{ url_for('challenge', challenge_id=challenge.id) }}">{{ challenge.title }}</a>
        </label>
    </li>
    {% endfor %}
</ul>
    <footer>
        <p>&copy; StreamQuest </p>
    </footer>
</body>
</html>